.timer {
  background-color: #108e47;
  padding: 0px 5px;
  border-radius: 5px;
  height: 35px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: default;
}
.timer[data-actions="true"] {
  cursor: pointer;
}
.pauseorplay {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  font-family: "Quizz";
  padding: 2px;
  cursor: pointer;
  transition:
    opacity 0.1s ease-in-out,
    max-height 0.5s ease-in-out;
}
.timer:hover .pauseorplay {
  visibility: visible;
  opacity: 1;
  max-width: 30px;
  transition:
    opacity 0.1s ease-in-out,
    max-height 0.5s ease-in-out;
}
.pauseorplay[data-paused="false"]::after {
  content: "\ea1d";
}
.pauseorplay::after {
  content: "\ea1c";
}
.timer[data-ticking="true"] {
  background-color: #E5E7EB;
  color: black;
}
