.toggle_holder {
  --bg-on-select-colorcode: 124, 58, 237;
  --bg-on-select-color: rgb(var(--bg-on-select-colorcode));
  --bg-initial-colorcode: 125, 121, 132;
  --bg-initial-color: rgb(var(--bg-initial-colorcode));
  --ball-colorcode: 255, 255, 255;
  --ball-color: rgb(var(--ball-colorcode));
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.toggle {
  display: flex;
  align-items: center;
  border-radius: 15px;
  height: 20px;
  width: 35px;
  margin: 0px 5px;
  background-color: var(--bg-initial-color);
  transition: background-color 0.3s ease;
}
.toggle[data-checked="true"] {
  background-color: var(--bg-on-select-color);
}
.toggle_indicator {
  position: relative;
  left: 2px;
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  transition: left 0.3s ease;
}
.toggle[data-checked="true"] .toggle_indicator {
  left: 16px;
}
